@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
</head>
<body>
    <div>
        <form action="/account/login" method="post">
            Login ID：<input type="text" name="uname" /><br />
            PassWord：<input type="password" name="pwd" /><br />
            <input type="submit" value="Submit" />
        </form>
    </div>
</body>
</html>
